* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: rubik;
    src: url(Rubik-Regular.ttf);
}

:root {
    --roxo-gradiente: hsl(264, 100%, 61%);
    --rosa-gradiente: hsl(293, 100%, 63%);
    --lilás: hsl(276, 100%, 81%);
    --roxo-chat:hsl(276, 55%, 52%);
    --cinza-chat:hsl(270, 7%, 64%);
    --roxo-escuro:hsl(271, 36%, 24%);
}

main {
    font-family: rubik;
}

i {
    font-size: 1.3em;
}

.detalhe-iphone {
    margin: auto;
    height: 35px;
    width: 150px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    position: relative;
    top: 65px;
}

.borda-celular {
    margin: 30px auto;
    height: 550px;
    width: 300px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.089);
    z-index: 0;

    display: flex;
    align-items: center;
}

.celular {
    margin: auto;
    height: 530px;
    width: 280px;
    background-color: rgba(211, 211, 211, 0.164);
    border-radius: 40px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.062);
    overflow: hidden;
}

.apresentacao {
    background-image: linear-gradient(to left, var(--rosa-gradiente), var(--roxo-gradiente));
    border-radius: 0 0 5px 5px;
    padding-top: 35px;
    padding-bottom: 15px;
    color: white;
    font-size: 0.6em;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.apresentacao-esquerda {
    display: flex;
    gap: 10px;
    align-items: center;
}

.apresentacao-esquerda img {
    border-radius: 50%;
    border: 2px solid white;
}

.apresentacao-esquerda p {
    color: rgba(255, 255, 255, 0.61);
}

.img-dog {
    margin: 0 10px;
    
    display: flex;
    justify-content: right;
    gap: 10px;
}

.img-dog img {
    width: 45px;
    border-radius: 10px;
}

.conteudo p {
    font-size: 0.7em;
}

.escrita-roxo {
    margin: 10px 120px 10px 10px;
    padding: 10px;
    color: var(--roxo-chat);
    background-color: hsla(276, 100%, 81%, 0.281);
    border-radius: 10px 10px 10px 0;
}
